@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kurenaido&display=swap');
#logbox{
    display: block;
    text-align: center;
    float: right;
    color: white;
    width:28%;
    background-color: #3f3c42ee;
    margin: 6.5em 13em 0 0;
    border-radius: 3em;
    font-family: Roboto;
    padding: 2.7% 2.7% ;
}
body{
    background-image: url("https://img.wallpapersafari.com/desktop/1440/900/24/74/zgeTuV.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#rem{
    margin-left: 11%;
    float: left;
}
.txt{
    margin: 4%;
    width: 72%;
    padding: 2%;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #574D4D;
}
.logins
{
    font-size: large;
    color: rgba(104, 64, 64, 0.945);
    text-align: left;
    margin:1em 0;
    width: 100%;
    height: 2em;
}



.triangle{
    display: block;
	position:absolute;
	right:1%;
	top:10%;
	width: 10%;
	height: 20%;
	border-top: 1200px solid transparent;
	border-bottom: 2200px solid transparent;
	border-left: 2900px solid #1E7922;
	margin-top:-1000px;
    margin-right:900px;
} 

.tri
{
    display: block;
	position:absolute;
	right:1%;
	top:1%;
	width: 10%;
	height: 10%;
	border-top: 1000px solid transparent;
	border-bottom: 1200px solid transparent;
	border-left: 1000px solid #0c3f0fcc;
	margin-top:-1000px;
    margin-right:1000px;
}
#inn{
    text-align: left;
    margin: 2em 1em;
}
#login{
    color: white;
    background-color: #7DA951;
    width: 72%;
    padding: 6px;
    border-radius: 30px;
}
#help{
    color: white;
    text-decoration: none;
}
